:root {
    --primary-color: #BD2A2E;
    --text: #3B3936;
    --background: #B2BEBF;
    --highlight: #889C9B;
    --background-color: #486966;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
}

main {
    background-color: var(--background);
    margin: 5em auto;
    max-width: 500px;
    border-radius: 5%;
    padding: 2em;
}

form {
    text-align: center;
    font-size: 1.1em
}

fieldset {
    border: solid 1px var(--text);
    border-radius: 3%;
}

legend {
    color: var(--text);
    font-size: 1.5em;
}

.horario, .reset {
    padding: .5em;
}

.submit {
    display: block;
    padding: .5em 2em;
    font-size: 1.2em;
    margin: 1em auto;
}

.outcome {
    border-radius: 5%;
    background-color: var(--highlight);
    width: 70%;
    padding: 1em 0;
    margin: 2em auto 2em;
    text-align: center;
}

table {
    margin: auto;
    border: solid 1px black;
    padding: 1em;
}

td {
    text-align: start;
    border-bottom: solid 1px black;
}